<mxGraphModel dx="0" dy="0" grid="1" gridSize="10" guides="1" tooltips="1" connect="1" arrows="1" fold="1" page="1" pageScale="1" pageWidth="{{ page['width'] }}" pageHeight="{{ page['height'] }}" math="0" shadow="0">
  <root>
    <mxCell id="0" />
    {% block background %}
    {% endblock background %}
    {% block content %}
    {% endblock content %}
  </root>
</mxGraphModel>
