{% extends "main.tmpl" %}
{% block background %}
    <mxCell id="2" value="Background" style="" parent="0" />
    {% include "roadmap_legend.tmpl" %}
    {% include "roadmap_cal.tmpl" %}

# for item in items

# if item.type == "component"
    <mxCell id="{{ item.id }}-1" value="" style="rounded=0;whiteSpace=wrap;html=1;fontSize=13;fillColor=#f5f5f5;strokeColor=#666666;fontColor=#333333;" parent="2" vertex="1">
      <mxGeometry x="80" y="{{ item.y }}" width="1580" height="{{ item.h }}" as="geometry" />
    </mxCell>
    <mxCell id="{{ item.id }}-2" value="{{ item.display_name }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=13;verticalAlign=middle;horizontal=0;fontStyle=1;fillColor=#d5e8d4;strokeColor=#82b366;" parent="2" vertex="1">
      <mxGeometry x="80" y="{{ item.y }}" width="40" height="{{ item.h }}" as="geometry" />
    </mxCell>
# endif

# if item.type == "subdomain"
    <mxCell id="{{ item.id }}" value="{{ item.display_name }}" style="rounded=0;whiteSpace=wrap;html=1;strokeWidth=1;verticalAlign=top;align=left;spacingLeft=10;fontSize=24;{{ item.style }}" vertex="1" parent="2">
      <mxGeometry x="40" y="{{ item.y }}" width="1660" height="{{ item.h }}" as="geometry" />
    </mxCell>
# endif

# endfor

# for i in range(13)
    <mxCell id="r64LERCGtSKEjRHpzJJ6-19-{{i}}" value="" style="line;strokeWidth=1;direction=south;html=1;strokeColor=#B3B3B3;" vertex="1" parent="2">
      <mxGeometry x="{{ i*120 + 160}}" y="160" width="1" height="{{ page['height'] - 200 }}" as="geometry" />
    </mxCell>
#endfor    

{% endblock background %}

{% block content %}
    <mxCell id="3" value="Data" style="" parent="0" />

# for item in items

# if item.type == "component"
    <mxCell id="{{ item.id }}-data-1" value="" style="group" parent="3" vertex="1">
      <mxGeometry x="80" y="{{ item.y }}" width="1580" height="{{ item.h }}" as="geometry" />
    </mxCell>
# endif

# if item.type == "item"
    <mxCell id="{{ item.id }}" value="{{ item.display_name }}" style="endArrow=oval;html=1;endFill=0;strokeWidth=5;endSize=20;startSize=6;spacingTop=0;align=left;verticalAlign=middle;labelPosition=right;verticalLabelPosition=middle;fontSize=13;labelBackgroundColor=none;{{ item.style }}" parent="{{ item.parentid }}-data-1" edge="1">
      <mxGeometry x="-1" y="20" width="50" height="50" relative="1" as="geometry">
        <mxPoint x="{{ item.start }}" y="{{ item.y }}" as="sourcePoint" />
        <mxPoint x="{{ item.end }}" y="{{ item.y }}" as="targetPoint" />
        <mxPoint as="offset" />
      </mxGeometry>
    </mxCell>
# endif

# endfor

{% endblock content %}
